[Unit]
Description=Add Flathub flatpak repositories
ConditionPathExists=!/%h/.local/share/flatpak/.flathub-initialized
Wants=user-wait-online.service
After=user-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --user --if-not-exists --title "Flathub" flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/touch /%h/.local/share/flatpak/.flathub-initialized

[Install]
WantedBy=default.target